*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
}

.container{
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 30px;
    padding-top: 50px;
}

#sim{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: white 1px solid;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-left: 70px;
}
#nao{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: white 1px solid;
    background-color: rgb(119, 98, 98);
    color: white;
    position: absolute;
    margin-left: 70px;
}